/* Tu CSS va aqui */

*{
    outline: 1px solid rgba(255,0,0,0.3);
}

body{
    margin: 0;
    padding: 0;
}

.tti{
    margin: 0;
}

.tto{
    font-size: 18px;
}

/*---------------------------------HEADER---------------------*/


































